@import 'src/styles/variables';
@import 'src/styles/typographies';

.project-card {
  padding: 3 * $space-unit;
  border-radius: 3 * $space-unit;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  @include regular-text;

  .tags {
    display: flex;
    width: 100%;

    .tag {
      margin-left: $space-unit;

      &.first {
        margin-left: unset;
      }
    }
  }

  .links {
    margin-top: 2 * $space-unit;
    display: flex;

    .link {
      margin-left: $space-unit;

      &.first {
        margin-left: unset;
      }
    }
  }
}

@media screen and (max-width: $m-breakpoint) {
  .project-card {
    min-height: 100%;
    box-sizing: border-box;
  }
}
