@import 'src/styles/variables.scss';
@import 'src/styles/typographies.scss';

.project {
  width: 80%;
  margin: auto;
  margin-top: 10 * $space-unit;

  display: flex;

  .left-content {
    display: flex;
    width: 60%;
    flex-direction: column;

    .title {
      @include h3-text;
      margin-bottom: $space-unit;
    }

    .badges {
      display: flex;
      margin-bottom: 2 * $space-unit;

      .tag {
        margin-left: $space-unit;
        &.first {
          margin-left: unset;
        }
      }
    }

    .metadata {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: relative;
      padding-top: 2 * $space-unit;

      @include large-text;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: grey;
      }
    }

    .description {
      margin-top: 2 * $space-unit;
      @include regular-text;
      text-align: justify;
      margin-bottom: 2 * $space-unit;
    }

    .links {
      display: flex;
      margin-bottom: $space-unit;

      .link {
        margin-left: $space-unit;
        &.first {
          margin-left: unset;
        }
      }
    }
  }

  .right-content {
    display: flex;
    width: 40%;

    .image.main {
      width: 80%;
      margin: auto;
    }
  }

  @media screen and (max-width: $l-breakpoint) {
    flex-direction: column;

    .left-content,
    .right-content {
      width: 100%;
    }

    .right-content {
      margin-top: 5 * $space-unit;
      display: flex;

      .image.main {
        width: 80%;
        margin: auto;
      }
    }
  }
}
