<div class="project">
  <a class="title" [routerLink]="'/project/' + project.id">{{ project.title }}</a>
  <div class="left-content">
    <div class="badges">
      <app-project-tag
        class="tag"
        *ngFor="let tag of project.tags; let first = first"
        [class.first]="first"
        [tag]="tag"
      ></app-project-tag>
    </div>
    <div class="metadata">
      <span class="company">
        <i>{{ project.company || 'Personal project' }}</i>
      </span>
      <span class="date">
        <i>{{ startDate | date: 'MMMM yyyy' }} - {{ (endDate | date: 'MMMM yyyy') || 'Today' }}</i>
      </span>
    </div>
    <div class="description" [innerHTML]="project.description"></div>
    <div class="links">
      <app-project-link
        *ngFor="let link of project.links; let first = first"
        class="link"
        [class.first]="first"
        [link]="link"
      ></app-project-link>
    </div>
  </div>
  <div class="right-content" *ngIf="project.mainImageUrl">
    <img class="image main" [src]="project.mainImageUrl" alt="" />
  </div>
</div>
