<div class="project">
  <div class="left-content">
    <h3 class="title">Implementing an experimental heart attack early-detection tool</h3>
    <div class="metadata">
      <span class="company">Opiwatch</span>
      <span class="date">March 2019 - May 2019</span>
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente earum, quidem dicta, placeat nihil porro
      rem quis odio quam blanditiis doloremque, dignissimos eveniet suscipit omnis corrupti fugiat! Recusandae,
      assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque recusandae explicabo molestiae quo
      provident aspernatur dolore nisi amet, quisquam repellendus cum harum inventore ipsa sit libero nemo a, cupiditate
      laudantium.
    </div>
  </div>
  <div class="right-content">
    <img class="image main" src="https://via.placeholder.com/300.png/09f/fff" alt="" />
  </div>
</div>
