@import "src/styles/variables";
@import "src/styles/typographies";

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $space-unit;
  box-sizing: border-box;

  .logo {
    height: 48px;
  }

  .burger {
    display: none;
    height: 32px;
    width: 32px;
    font-size: 32px;
  }

  .menu {
    display: flex;
    margin-left: auto;
    .link {
      height: 100%;
      min-width: 60px;
      color: $white-color;
      margin: 0 2 * $space-unit;

      @include large-text;
    }
  }
}

@media screen and (max-width: $m-breakpoint) {
  .navbar {
    background-color: $white-color;

    .menu {
      .link {
        color: $primary-color;
        @include regular-text;
        min-width: unset;
      }
    }
  }
}

@media screen and (max-width: $s-breakpoint) {
  .navbar {
    padding: 2 * $space-unit;
    box-shadow: 0px 9px 64px -23px rgba(0, 0, 0, 0.75);

    .burger {
      display: block;
      color: $primary-color;
      cursor: pointer;
    }

    .logo-link {
      margin-left: auto;
    }

    .menu {
      position: absolute;
      top: 86px;
      left: -100%;
      flex-direction: column;
      background-color: black;
      width: 100%;
      padding: $space-unit 0;

      transition: left ease-in-out 0.5s;

      .link {
        padding: $space-unit;
        color: $white-color;
      }
    }

    .menu.active {
      left: 0;
    }
  }
}
