@import "src/styles/variables.scss";

@mixin h1-text {
  font-size: $h1-font-size;
  font-weight: bold;
}

@mixin h3-text {
  font-size: $h3-font-size;
}

@mixin regular-text {
  font-size: $regular-font-size;
}

@mixin navbar-link-text {
  font-size: $large-font-size;
}
