/* Colors */
$primary-color: #d03737;
$secondary-color: #b2b2b2;
$white-color: #ffffff;

/* Fonts */
$text-font: Avenir;

/* Sizes */
$h1-font-size: 60px;
$h3-font-size: 32px;
$large-font-size: 24px;
$regular-font-size: 16px;

/* Spacing */
$space-unit: 8px;
