<div class="landing">
  <div class="logo-container">
    <img class="logo" src="assets/logo/original.svg" />
  </div>
  <div class="description">
    <p class="header">Hi, my name is <b>Maxence Lecanu</b></p>
    <p class="text">
      I am a Paris-based <b>software developper</b>. I work on building pieces of <b>code</b> for helping people
      accomplish their project.
    </p>
    <p class="text">
      This website aims at presenting <b>my work</b> so far. You may also use it to <b>reach out to me</b>.
    </p>
    <div class="buttons-container">
      <app-button class="link-button first" (click)="clickOnProjectsButton.emit()" color="white" [animate]="true">
        <span class="button-text">My projects</span>
      </app-button>
      <!-- <app-button
        class="link-button"
        color="white"
        [animate]="true"
        (clicked)="click()"
      >
        <span class="button-text">Read my articles</span>
      </app-button> -->
    </div>
  </div>
</div>
