@import 'src/styles/variables';

.button {
  padding: 1.5 * $space-unit 4 * $space-unit;
  border: solid 1px $secondary-color;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  width: 100%;

  transition: color ease 0.5s, background-color ease 0.5s;

  &.primary {
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }

  &.secondary {
    color: $secondary-color;
    border-color: $secondary-color;
  }

  &.white {
    color: $white-color;
    border-color: $white-color;

    &:hover {
      background-color: $white-color;
      color: $primary-color;
    }
  }

  .content {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button.animated {
  .icon {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: -36px;

    .chevron {
      opacity: 0;
      transition: opacity ease 0.5s;
      font-size: 24px;
      width: 36px;
    }
  }
}

.button.animated:hover  {
  .content {
    left: -2 * $space-unit;
  }

  .icon .chevron {
    opacity: 1;
  }
}
