@import "src/styles/variables.scss";
@import "src/styles/typographies.scss";

.landing {
  display: flex;
  width: 100%;
  height: 100vh;

  .logo-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 80%;
    }
  }

  .description {
    flex: 1;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text,
    .header {
      color: $white-color;
      width: 80%;
    }

    .header {
      @include h3-text;
    }

    .text,
    .link-button .button-text {
      @include large-text;
    }

    .buttons-container {
      display: flex;
      width: 80%;

      .link-button {
        margin-left: 4 * $space-unit;

        &.first {
          margin-left: unset;
        }
      }
    }
  }
}

@media screen and (max-width: $m-breakpoint) {
  .landing {
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100vh;

    .logo-container {
      padding-top: 70px;
      height: 250px;
    }

    .description {
      padding: 2 * $space-unit;

      .buttons-container {
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 2 * $space-unit;

        .link-button {
          margin-left: unset;
          margin-top: 2 * $space-unit;
          width: 100%;

          &.first {
            margin-top: unset;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $s-breakpoint) {
  .landing {
    .logo-container {
      width: 60%;
    }
  }
}
