<div class="landing">
  <div class="logo-container">
    <img class="logo" src="assets/logo/original.svg" />
  </div>
  <div class="description">
    <p class="header">Hi,</p>
    <p class="text">
      I am a <b>software developper</b>. I work on building pieces of
      <b>code</b> for helping people accomplish their project.
    </p>
    <p class="text">
      As for now, I work for a company called <b>Theodo</b> and carry on
      <b>personal projects</b> beside.
    </p>
    <p class="text">
      This website aims at presenting <b>my work</b> so far. You may also use it
      to <b>reach out to me</b>.
    </p>
  </div>
</div>
