<div class="projects">
  <div class="menu-container">
    <h1 class="title">My projects</h1>
    <div class="menu">
      <div
        class="menu-item"
        *ngFor="let project of projects; let index = index"
        [ngClass]="{
          active: index === 0
        }"
      >
        <mat-icon class="icon">label_important</mat-icon>
        <h3>
          {{ project.title }}
        </h3>
      </div>
    </div>
  </div>
  <div class="menu-placeholder"></div>
  <div class="list">
    <div class="list-window">
      <app-project-card
        class="project"
        *ngFor="let project of projects; let first = first; let last = last"
        [class.first]="first"
        [class.last]="last"
        [project]="project"
      ></app-project-card>
    </div>
  </div>
</div>
