@import "src/styles/variables";
@import "src/styles/typographies";

.projects {
  display: flex;
  width: 100%;

  .menu-container {
    position: fixed;
    top: 0;
    width: 30%;
    min-width: 330px;
    height: 100vh;
    background-color: $primary-color;
    padding: 70px 4 * $space-unit 4 * $space-unit 4 * $space-unit;
    box-sizing: border-box;

    color: $white-color;

    .menu-item {
      display: flex;
      align-items: center;

      .icon {
        margin-right: $space-unit;
      }
    }

    .title {
      @include h1-text;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: white;
        height: 4px;
      }
    }
  }

  .menu-placeholder {
    width: 30%;
    min-width: 330px;
    height: 100vh;
  }

  .list {
    flex: 1;
    padding: 70px + 2 * $space-unit 4 * $space-unit 4 * $space-unit 4 *
      $space-unit;

    .project {
      display: block;
      margin-top: 2 * $space-unit;
    }
  }
}

@media screen and (max-width: $m-breakpoint) {
  .projects {
    flex-direction: column-reverse;
    height: auto;

    .menu-container {
      position: relative;
      width: 100%;
      height: 30vh;
      box-sizing: border-box;
    }

    .list {
      flex: unset;
      height: unset;
      min-height: 70vh;
    }
  }
}
